.note {
  border: solid 1px black;
  margin: 0.5em 0;
  width: 90%;
  align-self: center;
}

button#note {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.descriptionContainer {
  padding: 0 0 1em 1em;
  display: flex;
  width: 100%;
  position: relative;
}

.noteTitle {
  margin-left: 1em;
}
